@include ie6-fileinput-button {
  /* Fix for IE 6: */
  *html .fileinput-button {
    line-height: 22px;
    margin: 1px -3px 0 0;
  }
}

$ie6: true;
@import "fileupload/style";
@import "fileupload/jquery.fileupload-ui";

.lt-ie9 .corner-banner.honey-badger {
  /* IE6 and 7 */
 filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678,sizingMethod='auto expand');

 margin-left: 20px;
 margin-top: -70px;
}